{% extends 'layout.html' %} 
{% load static %} 

{% block head %} 
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% include 'accountapp/head.html' %}
{% endblock %} 

{% block content %} 
{% include 'accountapp/header.html' %} 
{% include 'accountapp/nav.html' %} 
    <div id="pragmatic_main" style="height: 20rem; border-radius:1rem; margin: 2rem;">
        <h1 style="display:block; text-align: center;">
            Hello World LIST!
        </h1>
        <div class="testing" style="display:none"></div>
        <form action="/account/hello_world" method="POST" style="text-align: center">
           {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
	        </div>
	        <div>
                <input type="submit" class="btn btn-dark rounded-pill col-5 mt-3" value="POST">
	        </div>
        </form>
        {% if hello_world_list %} 
        <h1> </h1>
            {% for hello_world in hello_world_list %} 
                {% if forloop.counter > 22 %}
                  <h4 style="display:inline-block; margin-right:1.2rem; text-align: center;"> {{ forloop.counter }} : {{ hello_world.text }} </h4>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% include 'accountapp/footer.html' %} 
{% endblock %} 
