{% extends 'layout.html' %}
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %} 

{% block head %} 
{% include 'accountapp/head.html' %} 
{% endblock %} 

{% block content %}
{% include 'accountapp/header.html' %}
{% include 'accountapp/nav.html' %}

<div style="text-align:center; max-width: 500px; margin: 4rem auto" class="row">
    <div class="mb-4 col-md-8 offset-md-2">
        <h4>Sign Up</h4>
    </div>
    <div class="col-md-8 mx-auto">
		<form action="{% url 'accountapp:create' %}" method="POST">
			{% csrf_token %}
			{% bootstrap_form form %}
            {% buttons %}
                    <input type="submit" class="btn btn-dark rounded-pill col-5 mt-3"> 
			{% endbuttons %}
		</form>
    </div>
</div>
{% include 'accountapp/footer.html' %}
{% endblock %}