#pragmatic_header{
    text-align: center; 
    margin: 2rem 0;
}
#pragmatic_header .title {
    font-family: 'Lobster', cursive;
    color: rgb(235, 133, 38);
    text-align: center; 
}

#pragmatic_header .nav {
    text-align: center; 
}

#pragmatic_main {
    font-family: 'Lobster', cursive;
}
#nav {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    margin-top: .9rem;
}

#nav a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:coral;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none; 
    display:inline-block;
}

.pragmatic_footer_logo {
    font-family: 'Lobster', cursive;
    color:blueviolet;
}
.testing {
    background-color: white;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
}